BeautifulSoup==3.2.1
CDApplet==1.0
CDBashApplet==1.0
Django==1.11.28
Mako==0.7.3
MarkupSafe==0.15
MySQL-python==1.2.3
PAM==0.4.2
Pillow==2.0.0
Pygments==1.6
Twisted-Core==12.3.0
Twisted-Names==12.3.0
Twisted-Web==12.3.0
adium-theme-ubuntu==0.3.3
apt-xapian-index==0.45
argparse==1.2.1
bottle==0.11.6
ccsm==0.9.9.0
chardet==2.0.1
compizconfig-python==0.9.9.0
configglue==1.0
configobj==4.7.2
debtagshw==0.1
decorator==3.3.3
defer==1.0.6
dirspec==4.2.0
distribute==0.6.34
duplicity==0.6.21
httplib2==0.7.7
ipython==0.13.2
lxml==3.1.0
numpy==1.7.1
oauthlib==0.3.7
oneconf==0.3.3
pexpect==2.4
piston-mini-client==0.7.5
protobuf==2.4.1
pyOpenSSL==0.13
pycrypto==2.6
pycups==1.9.62
pycurl==7.19.0
pygobject==3.8.0
pygpgme==0.3
pyinotify==0.9.3
pyserial==2.6
pysmbc==1.0.13
python-apt==0.8.8ubuntu6
python-debian==0.1.21-nmu2ubuntu1
python-socksipy==1.0
pyxattr==0.5.1
pyxdg==0.25
pyzmq==2.2.0.1
reportlab==2.6
requests==1.1.0
rhythmbox-ubuntuone==4.2.0
scipy==0.11.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
six==1.2.0
software-center-aptd-plugins==0.0.0
ssh-import-id==3.14
system-service==0.1.6
twilio==3.6.3
ubuntuone-storage-protocol==4.2.0
unittest2==0.5.1
unity-lens-photos==0.9
urllib3==1.5
virtualenv==1.9.1
wsgiref==0.1.2
xdiagnose==3.5.1
zope.interface==4.0.5
